.App {
  padding: 10px;
}

h1 {
  color: grey;
}

button {
  margin: 5px;
  padding: 5px 10px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: #5aaaff;
  color: white;
  cursor: pointer;
}

.counter-container {
  display: flex;
  direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 2px grey;
  border-radius: 5px;
  width: 140px;
  height: 60px;
  margin-top: 15px;
  padding: 5px;
}

.counter-button {
  height: 30px;
}

.glasses-container {
  display: flex;
  direction: row;
  justify-content: space-around;
  align-items: center;
  border: solid 10px rgba(206, 85, 33, 0.601);
  border-radius: 5px;
  width: 100px;
  height: 100px;
  margin-top: 15px;
}